.header {
    background-image: url('./img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
    background-attachment: fixed;
}
.heading{
    padding:10px 5px;
    margin-bottom: 10px;
}

.football-div{
    padding-top: 150px;
    padding-bottom: 100px;
   }

.section2{
    margin:10% 0;
    text-align: center;
}

.section3 {
    padding:10% 0;
    text-align: center;    
}

.section4 {
    padding:10% 0;
    text-align: center;    
}
.footer{
    padding:5% 0;
    text-align: center;    
}
.btn {
    padding: 5px 40px;
    margin: 20px auto;
}